*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #444;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 15px 30px;
}

.clean-list {
  list-style: none;
  padding-left: 0;
}

.clean-list li {
  display: inline-block;
  margin-right: 20px;
}
.clean-list li:last-of-type {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  border-bottom: 1px solid darkorange;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.link-a-mas-fotos {
  padding: 30px;
  background: darkorange;
  color: white;
  font-size: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 768px) {
  .link-a-mas-fotos {
    border-bottom-left-radius: 0;
  }
}

/* =========
  1 - Colocar la propiedad necesaria para que el contenedor flex-container sea flex
      Quizás sea necesario utilizar una media query??
========= */


/* =========
2 - Acomodar el header 
  a - en la versión movil, los elementos tienen que estar uno abajo del otro.
  b - en la versión desktop, los elementos tienen que estar en la misma fila
      pero uno a la izquierda y el otro a la derecha.
========= */


/* =========
3 - Acomodar la primer sección 
  a - Tanto en la versión desktop como la móvil, los elementos tienen que estar
  uno debajo del otro.
========= */


/* ========= 
4 - Acomodar la segunda sección 
  a - en la versión móvil, los elementos tienen que estar uno debajo del otro.
  b - en la versión desktop, tienen que estar (puedes que necesites crear una media query):
    b1 - el título ocupar toda una fila.
    b2 - los articulos tienen que estar uno al lado del otro.
    b3 - el primer articulo tiene que ocupar 2 espacios más que el resto. Quizás para poder
         hacer crecer el primer artículo, sea necesario crear 4 columnas y no 3.
    b4 - utilicemos media queries para ajustar las versiones movil y desktops
========= */


/* =========
5 - Acomodar la tercera sección 
  a - el título ocupar toda una fila.
  b - en la versión móvil, solo dos imagenes deben estar juntas.
      El botón del final debe ocupar todo el ancho.
  c - en la versión desktop, tienen que estar:
    c1 - los articulos tienen que estar uno al lado del otro, hasta 4 fotos por fila.
    c2 - en la fila donde este el botón, las imágenes se deben mantener en su tamaño,
         pero el botón debe crecer para ocupar el espacio restante.
    c3 - utilicemos media queries para cambiar las propiedades.
========= */


/* =========
6 - Acomodar el footer 
  a - en la versión movil, los elementos tienen que estar uno abajo del otro.
  b - en la versión desktop, los elementos tienen que estar en la misma fila
      pero uno a la izquierda y el otro a la derecha.
  c - tienen que separarse en la versión desktop por 15px en el medio.
  d - vamos a utilizar media queries.
========= */

/* =========
7 - Incluye google fonts 
  a - Elige 2 familias tipográficas cualquieras. (Sugerencias Nunito 400 / 700, y
      Roboto Slab 500)
  b - Incluye la tipografía al documento.
  c - La tipografía por defecto debe ser Nunito 400.
  d - Los elementos heading tienen que ser Roboto Slab.
  e - El elemento link-a-mas-fotos tiene que usar Nunito 700.
========= */

/* =========
8 - Tipografía responsive 
  a - Cambia los valores en px, por medidas relativas, utiliza rem.
  b - Verifica si en móvil y desktop el tamaño es correcto, o si es necesario
      crear una media query para justar los tamaños.
  c - Opcional, te animas a seguir el ejemplo de tipografía flexible??
      https://codepen.io/mirisuzanne/pen/39ad1e5d872446c97a09565a6d16d81e?editors=1100
========= */